body{
    background-color: rgb(231, 230, 230);
}

.album{
    opacity: 0.85;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}

.album:hover{
    filter: brightness(50%);
    background-image: url(../images/MainCard1.jpg);
    opacity: 1;
}